legacy/cms/src/main/resources/wsdl/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://swiftlogistics.com/cms/orders"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://swiftlogistics.com/cms/orders"
                  elementFormDefault="qualified">

    <wsdl:types>
        <xsd:schema targetNamespace="http://swiftlogistics.com/cms/orders" elementFormDefault="qualified">
            <xsd:element name="SubmitOrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="clientId" type="xsd:string"/>
                        <xsd:element name="amount" type="xsd:decimal"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="SubmitOrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                        <xsd:element name="message" type="xsd:string"/>
                        <xsd:element name="orderId" type="xsd:string"/>
                        <xsd:element name="billedAmount" type="xsd:decimal"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="SubmitOrderRequest">
        <wsdl:part name="parameters" element="tns:SubmitOrderRequest"/>
    </wsdl:message>

    <wsdl:message name="SubmitOrderResponse">
        <wsdl:part name="parameters" element="tns:SubmitOrderResponse"/>
    </wsdl:message>

    <wsdl:portType name="OrderPortType">
        <wsdl:operation name="SubmitOrder">
            <wsdl:input message="tns:SubmitOrderRequest"/>
            <wsdl:output message="tns:SubmitOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrderBinding" type="tns:OrderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SubmitOrder">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrderService">
        <wsdl:documentation>Mock CMS Order Service</wsdl:documentation>
        <wsdl:port name="OrderPort" binding="tns:OrderBinding">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>